
<h1>Lista Mallas Curriculares</h1>

<body>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha creación</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>           
    </thead>
    <tbody>
     <% @course_outlines.each do |course_outline| %>
     <tr>
      <td><%= course_outline.name %></td>
      <td><%= course_outline.start_date %></td>
      <td><%= link_to 'Ver', course_outline %></td>
      <td><%= link_to 'Editar', edit_course_outline_path(course_outline) %></td>
      <td><%= link_to 'Eliminar', course_outline, method: :delete, data: { confirm: 'Estas seguro de eliminar?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'Nueva Malla', new_course_outline_path, {:class => ' btn btn-primary'} %>
</body>










