
<p>
  <b>Nombre:</b>
  <%= @course_outline.name %>
</p>

<p>
  <b>Fecha Inicio:</b>
  <%= @course_outline.start_date %>
</p>

<p>
  <b>Cursos Asociados:</b></br>
  <%for c in @course_outline.courses %>
  	<%= c.name %></br>
  <%end%>
</p>
		

<%= link_to 'Editar', edit_course_outline_path(@course_outline), {:class => ' btn btn-primary'} %> 
<%= link_to 'Volver', course_outlines_path, {:class => ' btn btn-success'} %>
