<h3>Editar usuario</h3>

<%#= @identity.avatar.inspect %>
<% if @identity.avatar  == nil %>
	<% tiene_foto = false %>  
	<% @identity.build_avatar %>  
<% else %>   
	<% tiene_foto = true %> 
<% end %>

<%= form_for(@identity )   do |identity_form| %>
<% if @identity.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@identity.errors.count, "errores") %> La cuenta no fue editada:</h2>
	<ul>
		<% @identity.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= identity_form.label :name %>
	<%= identity_form.text_field :name %>
</div>
<div class="field">
	<%= identity_form.label :email %>
	<%= identity_form.text_field :email %>
</div>

<% if loggedIsAdministrator() %>
<div class="field">
	<%= identity_form.label :administrator %>
	<%= identity_form.check_box :administrator %>
</div>
<% end %>

<hr>
<% if tiene_foto %>
	<h2>Avatar: tiene imagen</h2>
	<%= image_tag @identity.avatar.photo.url %>
<% else %>
	<h2>Avatar: no tiene imagen</h2>
		<i class="icon-user icon-5x"></i>	  
<% end %>

<%= render :partial => 'avatars/form',
:locals => {:form => identity_form} %>

<br>
<div class="actions">
	<%= identity_form.submit "Editar"%>
	<%= identity_form.submit "Cancelar"%>
</div>
<% end %>


