<html>
    <h1>Lista de usuarios</h1>
      <head>
        <script type="text/javascript" language="javascript" src="jquery.js"></script> 
        <script type="text/javascript" language="javascript" src="jquery.dataTables.js"></script> 
        <style type="text/css" title="currentStyle"> 
          @import "demo_page.css";
          @import "demo_table.css";
        </style> 
        
        <script type="text/javascript" charset="utf-8"> 
          $(document).ready(function() {
            $('#example').dataTable();
          } );
        </script> 
        
      </head>
      <body>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Administrador</th>
              <th></th>
              <th></th>
              <th></th> 
            </tr>           
          </thead>
          <tbody>
              <% @identities.each do |identity| %>
                <tr>
                  <td><%= identity.id %></td>
                  <td><%= identity.name %></td>
                  <td><%= identity.email %></td>
                  <td><%= identity.administrator %></td>
                  <td><%= link_to 'Editar usuario', edit_identity_path(identity, :method => :put) %></td>
                  <td><%= link_to 'Eliminar usuario', identity, :confirm => '¿Estas seguro?', :method => :delete %></td>
                  <td><%= link_to 'Recursos', identity_resources_path(identity) %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </body>
</html>