<h3>Editar Recurso</h3>

<%= form_for([@identity, @resource]) do |r_form| %>
	<% if @resource.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@resource.errors.count, "error") %> El recurso no fue editado:</h2>
	      <ul>
	      <% @resource.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>

	<%= render 'form' , :r_form => r_form%>

  	<% if loggedIsAdministrator() %>
		<div class="field">
			<%= r_form.label :Aprobado %>
			<%= r_form.check_box :visible %>
		</div>
	<% end %>

	<br>
	<div class="actions">
		<%= r_form.submit "Editar" %>
		<%= r_form.submit "Cancelar"%>
	</div>
<% end %>


