<h1>Recursos de usuario: <%= @identity.name %></h1>

<table>
  <tr>
    <th>Id</th>
    <th>Título</th>
    <th>Tipo</th>
    <th>Descripción</th>
    <th>Profesor</th>
    <th>Nota obtenida</th>
    <th>Contiene código</th>
    <th>Nombre Archivo</th>
    <th>Aprobado</th>
    <th>Descargar archivo</th>
    <th></th>
    <th></th>
    
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.id %></td>
    <td><%= resource.title %></td>
    <td><%= resource.resource_type %></td>
    <td><%= resource.description %></td>
    <td><%= resource.professor %></td>
    <td><%= resource.grade %></td>
    <td><%= resource.tiene_codigo %></td>
    <td><%= resource.file_file_name %></td>
    <td><%= resource.visible %></td>
    <td><%= link_to "Download", resource.file.url(:original,false) %></td>
    <td><%= link_to 'Editar', edit_identity_resource_path(@identity, resource) %></td>
    <td><%= link_to 'Eliminar', [@identity, resource], confirm: '¿Estas seguro?', method: :delete %></td>
    
  </tr>
<% end %>
</table>