<h1>Recursos de usuario: <%= @identity.name %></h1>

<% administrator = loggedIsAdministrator()  %>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Profesor</th>
        <th>Nota obtenida</th>
        <th>Contiene código</th>
        <th>Nombre Archivo</th>
        <th>Aprobado</th>
        <th>Descargar archivo</th>
        <th>Editar</th>
        <% if administrator %>
            <th>Eliminar</th>
        <% end %>    

    </tr>
    <thead>
        <tbody>
            <% @resources.each do |resource| %>
            <tr>
                <td><%= resource.id %></td>
                <td><%= resource.title %></td>
                <td><%= resource.resource_type %></td>
                <td><%= resource.description %></td>
                <td><%= resource.professor %></td>
                <td><%= resource.grade %></td>
                <td align ="center">
                  <% if resource.tiene_codigo   %>
                    <i class="icon-ok-sign icon-2x"><%= " "%></i> 
                  <% else %>
                    <i class="icon-remove-sign icon-2x"></i> 
                  <% end %>
                </td>
                <td><%= resource.file_file_name %></td>
                <td align ="center">
                  <% if resource.visible   %>
                    <i class="icon-ok-sign icon-2x"><%= " "%></i> 
                  <% else %>
                    <i class="icon-remove-sign icon-2x"></i> 
                  <% end %>
                </td>
                <!-- <td><%= link_to "Download", resource.file.url(:original,false) %></td> -->
                <td>
                  <a class="btn btn-primary" href="<%= resource.file.url(:original,false)%>" >
                  <i class="icon-cloud-download icon-2x"></i></a>
                </td>

                <!-- <td><%= link_to 'Editar', edit_identity_resource_path(@identity, resource) %></td> -->
                <td>
                  <a class="btn btn-warning" href="<%= edit_identity_resource_path(@identity, resource)%>" >
                  <i class="icon-edit icon-2x"></i></a>
                </td>
                <% if administrator %>
                   <td><%= link_to 'Eliminar', [@identity, resource], confirm: '¿Estas seguro?', method: :delete %></td>
                  
                <% end %> 
            </tr>
            <% end %>
        </tbody>
    </table>