<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>


  <% @mallas.each do |malla| %>
    <div class="row-fluid">
      <%= check_box_tag 'malla_ids[]', malla.id, @course.course_outlines.exists?(malla) -%>
      <%= h malla.name -%>
      <% if @course.course_outlines.exists?(malla) %>
        <% con = @contains.where(:course_outline_id => malla.id).first%>
        <%= select_tag('s[]', options_for_select(@semesters, :selected => con.semester), {:class => 'selectpicker span2'}) %> Semestre
      <% else %>
        <%= select_tag('s[]', options_for_select(@semesters), {:class => 'selectpicker span2'}) %> Semestre
      <% end %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
