
<h1>Lista de cursos</h1>
</br>
<p><%=  link_to("Crear curso",  new_course_path , {:class => 'btn btn-primary btn-large'}) %></p>
</br>
<body>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>           
    </thead>
    <tbody>
     <% @courses.each do |course| %>
     <tr>
      <td><%= course.name %></td>
      <td align ="center"><%= course.description %></td>
      <!-- <td><%= link_to 'Show', course %></td> -->
      <td>
        <a class="btn btn-primary" href="<%= course_path(course)%>" >
        <i class="icon-folder-open-alt icon-2x"></i></a>
      </td>

      <!-- <td><%= link_to 'Edit', edit_course_path(course) %></td> -->
       <td>
          <a class="btn btn-warning" href="<%= edit_course_path(course)%>" >
          <i class="icon-edit icon-2x"></i></a>
        </td>

      <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>


</body>




