
<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<!-- <h1> MALLAS QUE CONTIENEN EL CURSO</h1>
	<%= @course.course_outlines.inspect %> -->

<!-- <h1> RECURSOS QUE CONTIENEN EL CURSO</h1>
	<%= @course.resources.inspect %> -->
	


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
