<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Semestres</li>
            <% for i in 1..12 %>
              <% if i.to_s() == @s %>
                <li class="active"><%= link_to 'Semestre '+i.to_s(), malla_semestre_path(@co.id, i) %></li>
              <% else %>
                <li><%= link_to 'Semestre '+i.to_s(), malla_semestre_path(@co.id, i) %></li>
              <% end %>
            <% end %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="hero-unit">
        <%= image_tag("utalca.jpg", :alt => "Smiley face") %></p>
      </div>
      <div class="row-fluid">
      	<%@courses.map { |course|  %>
          <div class="span4">
            <h4><%=  course.name %></h4>
              <p align="justify"><%= course.description %></p>
              <p><%= link_to("Ver Recursos", malla_semestre_curso_path(@co.id, @s, course.id), {:class => 'btn'}) %></p>
          </div><!--/span-->
        <%}%>     
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div>      
